:root{
  --black: #242d49;
  --gray: rgba(36, 45, 73, 0.65);
  --profileShadow: 0px 4px 17px 2px rgba(0, 0, 0, 0.25);
  --hrColor: #cfcdcd;
  --cardColor: rgba(255, 255, 255, 0.64);
  --buttonBg: linear-gradient(98.63deg, #f9a225 0%, #f95f35 100%);
  --primary: #EF5757;
  --secondary: #4A4EB7;
  --warning: #E1AE4A;
  --white: #ffffff;
  --box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.25);
  --logo-font: 'Cookie', cursive;
}

.App{
  overflow: hidden;
  color: var(--black);
  background: #f3f3f3;
  padding: 1rem;
}

.blur{
  position: absolute;
  width: 22rem;
  height: 14rem;
  border-radius: 50%;
  background: #a6ddf0;
  filter: blur(72px);
}

.blur.blur_to{
  background: var(--warning) !important;
}

.btn{
  background: var(--secondary);
  color: var(--white);
  display: inline-block;
  margin: .5rem auto;
  width: 50%;
  /* border: none;
  padding: 6px 0px;
  border-radius: 6px; */
}